<template>
  <div
    class="container-fluid home"
  >
    <NavBar />
    <div class="row mt-2">
      <div class="col main-area generic-text">
        <div
          v-for="(dataSource, id) in dataSources"
          class="row"
        >
          <div class="col">
            <div class="row description">
              <div class="col-2 left-side-menu generic-text  mr-2">
                {{ id + 1 }}.description
              </div>
              <div class="col left-side-menu generic-text  mr-2">
                {{ dataSource['description'] }}
              </div>
            </div>
            <div class="row">
              <div class="col-2 left-side-menu generic-text  mr-2">
                links
              </div>
              <div class="col left-side-menu generic-text  mr-2">
                <div
                  v-for="link in dataSource['links']"
                  class="row"
                >
                  <div class="col">
                    <input
                      :id="id"
                      class="form-check-input mr-2"
                      type="checkbox"
                      value=""
                    >
                    <a
                      :href="link"
                      class="link-primary"
                    >{{ link }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-2 my-2">
          <button
            class="generic-button"
            type="button"
            @click="saveTask()"
          >
            Save selected data sources
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import NavBar from '../../components/Navbar'

export default {
  name: 'Results',
  selected: [],
  components: {
    NavBar
  },
  data() {
    return {
      dataSources: [
        {
          'description': 'Target id: 1358 Nomenclature: CYP11A1 Abbreviated Name: Cholesterol side-chain cleavage enzyme Family: CYP11, CYP17, CYP19, CYP20 and CYP21 families',
          'links': [
            'http://www.brenda-enzymes.org/php/result_flat.php4?ecno=1.14.15.6', 'https://www.omim.org/entry/118485', 'https://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids=13070', 'https://www.uniprot.org/uniprot/Q9QZ82', 'http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=GB&Expert=168558', 'https://www.omim.org/entry/613743', 'https://www.proteinatlas.org/ENSG00000140459', 'https://rgd.mcw.edu/rgdweb/report/gene/main.html?id=69325', 'http://www.genome.jp/dbget-bin/www_bget?hsa:1583', 'https://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids=29680', 'http://www.informatics.jax.org/marker/MGI:88582', 'https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:2590', 'http://www.genome.jp/dbget-bin/www_bget?rno:29680', 'https://www.uniprot.org/uniprot/P05108', 'https://www.ensembl.org/Gene/Summary?g=ENSMUSG00000032323', 'https://www.ebi.ac.uk/chembldb/target/inspect/CHEMBL5246', 'https://www.ensembl.org/Gene/Summary?g=ENSRNOG00000008074', 'http://www.genome.jp/dbget-bin/www_bget?ec:1.14.15.6', 'http://purl.obolibrary.org/obo/DOID_0050546', 'https://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids=1583', 'https://www.uniprot.org/uniprot/P14137', 'https://pharos.nih.gov/targets/P05108', 'http://www.genome.jp/dbget-bin/www_bget?mmu:13070', 'http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=GB&Expert=289548', 'https://alphafold.ebi.ac.uk/entry/P05108', 'https://www.ebi.ac.uk/chembldb/target/inspect/CHEMBL2033', 'https://www.ensembl.org/Gene/Summary?g=ENSG00000140459', 'https://en.wikipedia.org/wiki/CYP11A1']
        },
        {
          'description': 'Target id: 1359 Nomenclature: CYP11A1 Abbreviated Name: Cholesterol side-chain cleavage enzyme Family: CYP11, CYP17, CYP19, CYP20 and CYP21 families',
          'links': ['http://www.brenda-enzymes.org/php/result_flat.php4?ecno=1.14.15.6', 'https://www.omim.org/entry/118485', 'https://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids=13070', 'https://www.uniprot.org/uniprot/Q9QZ82', 'http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=GB&Expert=168558', 'https://www.omim.org/entry/613743', 'https://www.proteinatlas.org/ENSG00000140459', 'https://rgd.mcw.edu/rgdweb/report/gene/main.html?id=69325', 'http://www.genome.jp/dbget-bin/www_bget?hsa:1583', 'https://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids=29680', 'http://www.informatics.jax.org/marker/MGI:88582', 'https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:2590', 'http://www.genome.jp/dbget-bin/www_bget?rno:29680', 'https://www.uniprot.org/uniprot/P05108', 'https://www.ensembl.org/Gene/Summary?g=ENSMUSG00000032323', 'https://www.ebi.ac.uk/chembldb/target/inspect/CHEMBL5246', 'https://www.ensembl.org/Gene/Summary?g=ENSRNOG00000008074', 'http://www.genome.jp/dbget-bin/www_bget?ec:1.14.15.6', 'http://purl.obolibrary.org/obo/DOID_0050546', 'https://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids=1583', 'https://www.uniprot.org/uniprot/P14137', 'https://pharos.nih.gov/targets/P05108', 'http://www.genome.jp/dbget-bin/www_bget?mmu:13070', 'http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=GB&Expert=289548', 'https://alphafold.ebi.ac.uk/entry/P05108', 'https://www.ebi.ac.uk/chembldb/target/inspect/CHEMBL2033', 'https://www.ensembl.org/Gene/Summary?g=ENSG00000140459', 'https://en.wikipedia.org/wiki/CYP11A1'
          ]
        }
      ]
    }
  },
  methods: {
    saveTask() {
      window.location.href = 'http://localhost:8080/data-source-selection'
    }
  }
}
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.left-side-menu {
  background-color: #2d3e50;
  min-height: 90vh;
}

.main-area {
  text-align: left;
}

.generic-text {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.description {
  height: 100px
}

.datasource-link {
  text-decoration: none;
}
</style>
