<template>
  <div
    class="container-fluid home"
  >
    <NavBar />
    <div class="row mt-2">
      <div class="col-2 left-side-menu generic-text  mr-2">
        <!--        left menu placeholder-->
      </div>

      <div class="col main-area generic-text">
        <div class="row py-3">
          <div class="col">
            Select search engine
            <select
              v-model="selectedEngine['name']"
              class="form-select form-select-sm mb-2"
              aria-label=".form-select-sm example"
            >
              <template v-for="(engineConfig, engineName) in searchEngines">
                <option :value="engineName">
                  {{ engineName }}
                </option>
              </template>
            </select>
            <div v-if="selectedEngine['name']">
              <div v-for="searchEngineParameter in searchEngines[selectedEngine['name']]['parameters']">
                <div class="col">
                  {{ searchEngineParameter['name'] }}
                </div>
                <div class="col">
                  <select
                    class="form-select form-select-sm mb-2"
                    aria-label=".form-select-sm example"
                    multiple
                  >
                    <option value="all">
                      All
                    </option>
                    <template v-for="option in searchEngineParameter['options']">
                      <option :value="option">
                        {{ option }}
                      </option>
                    </template>
                  </select>
                </div>
              </div>
            </div>
            <button
              class="generic-button"
              type="button"
              @click="createTask()"
            >
              Create search task
            </button>
          </div>
        </div>
        <div class="row py-5">
          <div class="col">
            <!--            Creates asynchronous task, that takes 3 - 12 seconds to finish-->
          </div>
        </div>
        <div
          v-for="(status, taskId, taskNum) in tasks"
          class="row py-2"
        >
          <div class="col-7">
            {{ taskNum }}. task - {{ getShortTaskId(taskId) }}
          </div>

          <div
            v-if="isFinished(status)"
            class="col-1"
          >
            <router-link :to="{ name:'data-source-results' }">
              results
            </router-link>
          </div>

          <div class="col-1">
            <div :class="getTaskStatusClass(status)" />
          </div>
          <div class="col">
            <div
              class="close-cross"
              @click="removeTask(taskId)"
            >
              <div class="sub-close-cross">
                <div class="sub-close-cross-rotate" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import NavBar from '../../components/Navbar'

export default {
  name: 'Home',
  components: {
    NavBar
  },
  data() {
    return {
      tasks: {},
      nextTask: null,
      taskStatus: null,
      taskStatuses: {
        pending: 'PENDING'
      },
      selectedEngine: {
        name: null,
        parameters: []
      },
      searchEngines: {
        'Guide To Pharmacology': {
          url: 'https://www.guidetopharmacology.org/GRAC/DatabaseSearchForward?searchString={}&searchCategories={}&species={}&type={}&order=rank&submit=Search+the+database',
          parameters: [
            {
              name: 'keywords',
              options: ['enzyme', 'protein', 'acid'],
              multiselect: true
            },
            {
              name: 'search categories',
              options: [
                'allRec', 'receptorName', 'overview', 'intro', 'receptorComment',
                'interactionComment', 'immComment', 'immProcess', 'immProcessComment', 'immGoTerm',
                'immGoID', 'immCelltype', 'immCelltypeComment', 'immCoTerm', 'immCoId',
                'immCoDef', 'immDisease', 'immDiseaseComment', 'assocProt', 'assocProtComment',
                'physFunDesc', 'physFunTissue', 'physFunComment', 'distribTissue', 'distribTech',
                'distribComment', 'fAssayDesc', 'fAssayTissue', 'fAssayResponse', 'fAssayComment',
                'altExpDesc', 'altExpTissue', 'altExpTech', 'altExpComment', 'varEffect',
                'varComment', 'pathoDisease', 'pathoRole', 'pathoDrugs', 'pathoSE',
                'pathoUse', 'pathoComment', 'expChange', 'expPatho', 'expTissue',
                'expTech', 'expComment', 'xenoExpChange', 'xenoExpTissue', 'xenoExpTech',
                'xenoExpComment', 'pdbDesc', 'selectivityComment', 'voltageComment', 'functionalChars',
                'transductionComment', 'targetGeneName', 'targetGeneComment', 'dnaBindSeq', 'dnaBindComment',
                'partnerName', 'partnerEffect', 'partnerComment', 'coregName', 'coregComment', 'ec'
              ],
              multiselect: true
            },
            {
              name: 'species',
              options: ['Hs', 'Mm', 'Rn', 'none'],
              multiselect: true
            },
            {
              name: 'types',
              options: ['GPCR', 'IC', 'NHR', 'ENZ', 'CATR', 'TRANS', 'OTHER', 'IMMUNO'],
              multiselect: true
            }
          ]

        }
      }

    }
  },

  mounted: function () {
    this.$nextTick(async function () {
      await this.getTasks()
      while (true) {
        if (this.isTasksHasPending()) {
          await this.updateTasksStatus()
        }
        await new Promise(resolve => setTimeout(resolve, 1000))
      }
    })
  },
  methods: {
    async getTasks() {
      this.$store.dispatch('getTasks')
        .then((response) => {
          this.tasks = response
        })
        .catch(err => {
          console.log(err)
        })
    },
    async updateTasksStatus() {
      const ids = this.getPendingTaskIds()
      this.$store.dispatch('getTasksStatus', ids)
        .then((response) => {
          Object.keys(response).map(function (key) {
            this.tasks[key] = response[key]
          }, this)
        })
        .catch(err => {
          console.log(err)
        })
    },
    getPendingTaskIds() {
      const ids = []
      for (const id in this.tasks) {
        if (this.tasks[id] === this.taskStatuses.pending) {
          ids.push(id)
        }
      }
      return ids
    },
    isTasksHasPending() {
      for (const taskId in this.tasks) {
        if (this.tasks[taskId] === this.taskStatuses.pending) {
          return true
        }
      }
      return false
    },
    createTask() {
      this.$store.dispatch('createTask')
        .then(response => {
          if ('id' in response) {
            this.$set(this.tasks, response.id, response.status)
          }
        })
        .catch(err => {
          console.log(err)
        })
    },
    getTaskStatus() {
      this.$store.dispatch('getTaskStatus', this.taskId)
        .then((response) => {
          this.taskStatus = response.result
        })
        .catch(err => {
          console.log(err)
        })
    },
    getTaskStatusClass(status) {
      if (this.isFinished(status)) {
        return 'circle green'
      }
      return 'circle red'
    },
    isFinished(status) {
      return status !== this.taskStatuses.pending
    },
    removeTask(taskId) {
      this.$store.dispatch('removeTask', taskId)
        .then(response => {
          this.$delete(this.tasks, taskId)
        })
        .catch(err => {
          console.log(err)
        })
    },
    getShortTaskId(taskId) {
      return taskId.split('-')[0]
    }

  }
}
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.left-side-menu {
  background-color: #2d3e50;
  min-height: 90vh;
}

.main-area {
  background-color: #234465;
}

.generic-text {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.generic-button {
  border: none;
  outline: none;
  background: #2d3352;
  color: white;
  font-weight: normal;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle.red {
  background: #ff1111;
}

.circle.green {
  background: #9ff181;
}

.close-cross {
  width: 10px;
  height: 10px;
  border: 0px solid black;
}

.close-cross:hover {
  background-color: rgba(123, 134, 206);
}

.sub-close-cross {
  height: 10px;
  width: 2px;
  margin-left: 4px;
  background-color: black;
  transform: rotate(45deg);
  Z-index: 1;
}

.sub-close-cross-rotate {
  height: 10px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  Z-index: 2;
}
</style>
