<template>
  <div
    class="container-fluid home"
  >
    <NavBar />
    <div class="row mt-2">
      <div class="col main-area generic-text">
        some text2
      </div>
    </div>
  </div>
</template>

<script>

import NavBar from '../components/Navbar'

export default {
  name: 'Home',
  components: {
    NavBar
  }
}
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.left-side-menu {
  background-color: #2d3e50;
  min-height: 90vh;
}

.main-area {
  background-color: #3b6eab;
}

.generic-text {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
  padding: 10px;
}

.mt-2 { margin-top:.5rem!important; }
.mr-2 { margin-right:.5rem!important; }
</style>
