<template>
  <div class="log" />
</template>

<script>
export default {
  created() {
    this.$store.dispatch('logoutUser')
      .then(() => {
        this.$router.push({ name: 'about' })
      })
  }
}
</script>

<style scoped>
</style>
