<template>
  <div class="row">
    <NavBar />
    <div class="register-form">
      <form @submit.prevent="registerUser">
        <label for="Name">Name</label>
        <input
          id="Name"
          v-model="name"
          type="text"
          name="Name"
        >
        <label for="el">Email</label>
        <input
          id="el"
          v-model="email"
          type="email"
          name="el"
        >
        <label for="ur">Username</label>
        <input
          id="ur"
          v-model="username"
          type="text"
          name="ur"
        >
        <label for="pwr">Password</label>
        <input
          id="pwr"
          v-model="password"
          type="password"
          name="pwr"
        >
        <label for="pass">Password Confirmation</label>
        <input
          id="pass"
          v-model="confirm"
          type="password"
          name="pass"
        >
        <button type="submit">
          Register
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import NavBar from '../components/Navbar'

export default {
  name: 'Register',
  components: {
    NavBar
  },
  data () {
    return {
      name: '',
      email: '',
      username: '',
      password: '',
      confirm: ''
    }
  },
  methods: {
    registerUser () {
      this.$store.dispatch('registerUser', {
        name: this.name,
        email: this.email,
        username: this.username,
        password: this.password,
        confirm: this.confirm
      }).then(() => {
        this.$router.push({ name: 'login' })
      })
    }
  }
}
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.register-form {
  background-color: #606366;
  width: 100%;
  margin: 78px auto;
  padding: 0;
  text-align: center;
}
</style>
