<template>
  <div class="row">
    <div class="nav-bar">
      <div class="row">
        <div class="col">
          <ul>
            <template v-if="accessToken!=null">
              <li class="left">
                <router-link :to="{ name:'about' }">
                  About
                </router-link>
              </li>
              <li class="left">
                <router-link :to="{ name:'integration-system' }">
                  Integration system
                </router-link>
              </li>
              <li class="left">
                <router-link :to="{ name:'data-source-selection' }">
                  Data Source Selection
                </router-link>
              </li>
            </template>
          </ul>
        </div>

        <div class="col justify-content-end">
          <ul>
            <template v-if="accessToken==null">
              <li class="right">
                <router-link :to="{ name:'register' }">
                  Register
                </router-link>
              </li>
              <li class="right">
                <router-link :to="{ name:'login' }">
                  Login
                </router-link>
              </li>
            </template>
            <template v-else>
              <li class="right">
                <router-link :to="{ name:'logout' }">
                  Logout
                </router-link>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'NavBar',
  computed: mapState(['accessToken'])
}
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.nav-bar {
  background-color: #12273f;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  text-align: center;
  color: white;
}

.nav-bar ul li.left {
  display: inline-block;
  margin: 0 5px;
  float: left;
}

.nav-bar ul li.right {
  display: inline-block;
  margin: 0 5px;
  float: right;
}
.nav-bar:after {
  content: '';
  display: block;
  clear: both;
}

.nav-bar ul li a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 7px;
}

.nav-bar ul li a:hover {
  background-color: #1a3252;
}

.router-link-exact-active {
  background-color: #1a3252
}
</style>
